@import "../../scss/vars";

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 40px;
    border-radius: 20px;
    background: $mainGreyBg;
    height: 528px;
    overflow: auto;
  }

  &_question {
    float: left;

    font-size: 24px;
    font-weight: 700;
  }

  &__answers {
    display: inline-flex;
    gap: 20px;
  }
}
