.quiz {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;
  padding: 80px 19.333333%;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.title {
  font-size: 48px;
  font-weight: 800;
}
