@use "./scss/vars" as *;

html,
body,
#root {
  height: 100%;
  font-family: "Montserrat", serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Скрываем стандартные элементы радио-кнопок */
label {
  input[type="radio"] {
    display: none;
  }
}

label {
  /* Стили для элемента <span>, который будет имитировать радио-кнопку */
  input[type="radio"] + span {
    content: "";
    background: none;

    border: 1px solid #000000;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    flex-shrink: 0;
  }
}

/* Стили для активного состояния (когда кнопка выбрана) */
label {
  input[type="radio"]:checked + span {
    border: 1px solid $accentColor;
    background: $accentColor;
  }
}
